@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: #078146;    
    display: flex;
    width: 171%;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.profile {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 25%;
    width: 50%;
    transition: 1s 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 8;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex-direction: column;
}


form.account-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    background-color: #7dba41;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #078146;
}

.little-btn {
    color: #078146;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #fff;
    font-family: "Poppins", sans-serif;

}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 52%;
    transform: translate(100%, -50%);
    background-image: radial-gradient(circle, rgba(125, 186, 65, 1) 0%, rgba(7, 129, 70, 1) 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}


.image {
    width: 36%;
    transition: transform 1.0s ease-in-out;
    transition-delay: 0.5s;
    position: absolute;
    left: 56%;
    top: 30%;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.right-panel {
    padding: 3rem 12% 2rem 17%;
}


.panel .content {
    color: #fff;
    transition: transform 0.10s ease-in-out;
    transition-delay: 0.5s;
    position: absolute;
    left: 58%;
    top: 7%
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}


.container.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}


.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border-radius: 25px;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#output-ricette {
    width: 90%;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

.container-3 {
    display: flex;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
}

select {
    width: 160px;
    color: #fff;
    background-color: #7dba41;
    height: 25px;
    margin: 10px;
}

option {
    background-color: #fff;
    color: #444;
}


.link {
    position: fixed;
}

.search-container {
    height: 150px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search {
    margin-top: 8px;
    position: sticky;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #7dba41;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #7dba41;
    padding: 5px;
}

.input-search {
    background-color: #7dba41;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search:hover,
.search:valid {
    width: 150px;
    cursor: pointer;
}

.search:hover .input-search,
.search:valid .input-search {
    display: block;
}

.search:hover .fa,
.search:valid .fa {
    background: #7dba41;
    color: white;
}

/* ANIMATION */

.container.users-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.users-mode .left-panel .image,
.container.users-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.users-mode .profile {
    left: 25%;
}

.container.users-mode form.users-form {
    opacity: 1;
    z-index: 2;
}

.container.users-mode form.account-form {
    opacity: 0;
    z-index: 1;
}

.container.users-mode .right-panel .image,
.container.users-mode .right-panel .content {
    transform: translateX(0%);
}

.container.users-mode .left-panel {
    pointer-events: none;
}

.container.users-mode .right-panel {
    pointer-events: all;
}

.container.users-mode .search-container {
    opacity: 1;
    z-index: 2;
    transition: 2.5s;
}


@media (max-width: 1170px) {
    .logout {
        text-decoration: none;
        color: #078146;
        position: absolute;
        left: 94%;
        top: 1%;
        width: 15%;
    }

    .dropdown-container {
        flex-direction: column;
        align-items: center;
        width: 200px;
    }

}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .profile {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .profile,
    .container.users-mode .profile {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }


    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container.users-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container.users-mode .profile {
        top: 5%;
        transform: translate(-50%, 0);
    }


    .container.users-mode .search-container {
        opacity: 1;
        z-index: 2;
        transition: 2.5s;
    }

    .container.users-mode .search-container {
        flex-direction: row;
        padding: 10px;
    }


    .search-container {
        width: 107%;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    a {
        width: 275%;
        flex-direction: column;
        align-items: flex-end;
    }

}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container {
        padding: 1.5rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.users-mode:before {
        bottom: 28%;
        left: 50%;
    }


    .container-2 {
        width: 75%;
        height: 42vh;
    }


    #output-ricette {
        height: 40vh;
    }
}